{% block formatted_text_line_field_widget %}
    {% set attr = attr|merge({
        'data-input-mask': form.vars.mask
    }) %}

    {{ block('form_widget') }}

    {% if form.vars.help %}
        <span class="text-secondary">{{ form.vars.help }}</span>
    {% endif %}
{% endblock %}
